body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f39fe0;
  
  }
    nav {
      background-color: #645757;
      color: #f5aaaa;
      padding: 10px;
      text-decoration: wavy;
      font-family: 'Times New Roman', Times, serif;
      font-style: oblique;
    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    nav ul li {
      display: inline;
      margin-right: 10px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
    }
    nav ul li a:hover {
      background-color: #ef8b8b; 
      border-radius: 5px; 
      padding: 5px 10px; 
    }
    .home-content {
      display: flex; 
      align-items: center; 
    }
    
    .header-text {
      flex: 1;
      padding-right: 20px;
      margin-right: 20px; 
    }
    .header-image{
      flex:3;
    }
    .home-sci {
      margin-top: 10px; 
    }
    
    .home-sci a {
      margin-right: 10px; 
      color: #333; 
      font-size: 24px; 
    }
    header {
      text-decoration:double;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding: 50px 0;
    }
    .header-image img {
      max-width: 200px;
      border:2px #333;
      border-radius: 20px;
      height:300px;
    }

    #home {
      text-align: center;
      padding: 50px 0;
    }    
    #home h2{
      text-align: center;
      padding:10px;
      font-family: Arial, Helvetica, sans-serif;
      color: #645757;
    }
    #home h1{
      text-align: center;
      padding:10px;
      font-family:sans-serif;
      color:#f17575;
    }
    .header-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    
    section {
      padding: 20px;
    }
    
    .project {
      display: flex;
      margin-bottom: 20px;
    }
    
    .project-info {
      flex: 1;
    }
    
    footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
    
    #about{
      padding: 10px;
      margin:2px;

    }
    .container {
      display: flex;
      justify-content: space-between;
    }
    
    .container > div {
      flex: 1;
      margin-right: 20px; 
    }
    #portfolio{
      text-align: center;
      padding: 80px 0;
    }
    #portfolio h2{
      background-color: #f6b8b8;
      border: 2px solid black;
      border-radius: 10px;
      padding:2px;
      margin:auto;
      box-shadow: #645757;
      color:#f17575;
      font-family: monospace;
      font-style: italic;
      font-weight: bold;
      
    }
    .project {
      background-color: #f5c7c7;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      padding: 30px;
      margin-bottom: 40px;
      text-align: left;
    }
    
    .project h3 {
      font-size: larger;
      margin-bottom: 20px;
      font-style: oblique;
    }
    .aboutme{
      background-color: #f3c9c9;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      padding: 30px;
      margin-bottom: 40px;
      text-align: left;
      box-sizing: 50%;
    }
    #about h2{
      background-color: #f6b8b8;
      border: 2px solid black;
      border-radius: 10px;
      padding:2px;
      margin:auto;
      box-shadow: #645757;
      color:#f17575;
      font-family: monospace;
      font-style: italic;
      font-weight: bold;

    }
    #about p{
      text-align: center;
      text-decoration: double;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: italic;
      font-weight: 400;
      font-size: larger;
    }
    .newclass,.hello,.tempo,.format,.project-info p{
      text-decoration: double;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: italic;
      font-weight: 200;
      font-size:large;
    }